:root {
  --background: #ffffff;
  --foreground: #171717;
}

.nav-link-custom {
  color: white ;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  margin-right: 15px;
  }
        
.nav-link-custom:hover {
  transform: scale(1.15);
  font-weight: bold;
  border-bottom: 2px solid #0dcaf0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
